{% block sw_dashboard_index %}
    {% block sw_dashboard_index_before %}{% endblock %}
    <div class="sw-page__outer">
        {% block sw_dashboard_index_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_inner_after %}{% endblock %}
    </div>
    {% block sw_dashboard_index_after %}{% endblock %}
{% endblock %}

{% block sw_dashboard_index_content_intro_card %}
    {% block sw_dashboard_index_content_intro_card_before %}{% endblock %}
    <template v-if="acl.can('admin') || !acl.can('dashboard.intro')">
        {% block sw_dashboard_index_content_intro_card_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_content_intro_card_inner_after %}{% endblock %}
    </template>
    {% block sw_dashboard_index_content_intro_card_after %}{% endblock %}
{% endblock %}

{% block sw_dashboard_index_content_campaign_banner %}
    {% block sw_dashboard_index_content_campaign_banner_before %}{% endblock %}
    <template v-if="acl.can('admin') || !acl.can('dashboard.campaign_banner')">
        {% block sw_dashboard_index_content_campaign_banner_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_content_campaign_banner_inner_after %}{% endblock %}
    </template>
    {% block sw_dashboard_index_content_campaign_banner_after %}{% endblock %}
{% endblock %}

{% block sw_dashboard_index_content_info_grid %}
    {% block sw_dashboard_index_content_info_grid_before %}{% endblock %}
    <template v-if="acl.can('admin') || (!acl.can('dashboard.welcome') || !acl.can('dashboard.feedback'))">
        {% block sw_dashboard_index_content_info_grid_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_content_info_grid_inner_after %}{% endblock %}
    </template>
    {% block sw_dashboard_index_content_info_grid_after %}{% endblock %}
{% endblock %}

{% block sw_dashboard_index_content_info__grid_inner_welcome_card %}
    {% block sw_dashboard_index_content_info__grid_inner_welcome_card_before %}{% endblock %}
    <template v-if="acl.can('admin') || !acl.can('dashboard.welcome')">
        {% block sw_dashboard_index_content_info__grid_inner_welcome_card_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_content_info__grid_inner_welcome_card_inner_after %}{% endblock %}
    </template>
    {% block sw_dashboard_index_content_info__grid_inner_welcome_card_after %}{% endblock %}
{% endblock %}

{% block sw_dashboard_index_content_grid_info_inner_feedback_card %}
    {% block sw_dashboard_index_content_grid_info_inner_feedback_card_before %}{% endblock %}
    <template v-if="acl.can('admin') || !acl.can('dashboard.feedback')">
        {% block sw_dashboard_index_content_grid_info_inner_feedback_card_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_content_grid_info_inner_feedback_card_inner_after %}{% endblock %}
    </template>
    {% block sw_dashboard_index_content_grid_info_inner_feedback_card_after %}{% endblock %}
{% endblock %}

{% block sw_dashboard_index_content_intro_stats_headline %}
    {% block sw_dashboard_index_content_intro_stats_headline_before %}{% endblock %}
    <template v-if="acl.can('admin') || !acl.can('dashboard.stats_today')">
        {% block sw_dashboard_index_content_intro_stats_headline_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_content_intro_stats_headline_inner_after %}{% endblock %}
    </template>
    {% block sw_dashboard_index_content_intro_stats_headline_after %}{% endblock %}
{% endblock %}

{% block sw_dashboard_index_content_intro_stats_today %}
    {% block sw_dashboard_index_content_intro_stats_today_before %}{% endblock %}
    <template v-if="acl.can('admin') || !acl.can('dashboard.stats_today')">
        {% block sw_dashboard_index_content_intro_stats_today_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_content_intro_stats_today_inner_after %}{% endblock %}
    </template>
    {% block sw_dashboard_index_content_intro_stats_today_after %}{% endblock %}
{% endblock %}

{% block sw_dashboard_index_content_grid %}
    {% block sw_dashboard_index_content_grid_before %}{% endblock %}
    <template v-if="acl.can('admin') || !acl.can('dashboard.stats_today')">
        {% block sw_dashboard_index_content_grid_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_content_grid_inner_after %}{% endblock %}
    </template>
    {% block sw_dashboard_index_content_grid_after %}{% endblock %}
{% endblock %}

{% block sw_dashboard_index_content_statistics_headline %}
    {% block sw_dashboard_index_content_statistics_headline_before %}{% endblock %}
    <template v-if="acl.can('admin') || (!acl.can('dashboard.statistics_count') || !acl.can('dashboard.statistics_sum'))">
        {% block sw_dashboard_index_content_statistics_headline_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_content_statistics_headline_inner_after %}{% endblock %}
    </template>
    {% block sw_dashboard_index_content_statistics_headline_after %}{% endblock %}
{% endblock %}

{% block sw_dashboard_index_content_statistics_count %}
    {% block sw_dashboard_index_content_statistics_count_before %}{% endblock %}
    <template v-if="acl.can('admin') || !acl.can('dashboard.statistics_count')">
        {% block sw_dashboard_index_content_statistics_count_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_content_statistics_count_inner_after %}{% endblock %}
    </template>
    {% block sw_dashboard_index_content_statistics_count_after %}{% endblock %}
{% endblock %}

{% block sw_dashboard_index_content_statistics_sum %}
    {% block sw_dashboard_index_content_statistics_sum_before %}{% endblock %}
    <template v-if="acl.can('admin') || !acl.can('dashboard.statistics_sum')">
        {% block sw_dashboard_index_content_statistics_sum_inner_before %}{% endblock %}
        {% parent() %}
        {% block sw_dashboard_index_content_statistics_sum_inner_after %}{% endblock %}
    </template>
    {% block sw_dashboard_index_content_statistics_sum_after %}{% endblock %}
{% endblock %}
