.sw-page__outer {
    position: relative;
    height: 100%;

    .sw-card {
        display: none;

        &.sw-card--grid,
        &.sw-dashboard-index__statistics-count,
        &.sw-dashboard-index__statistics-sum {
            display: block;
        }
    }
}
